.scroll-box{
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    
}

button{
    background-color: BLUE;
    margin-top: 10PX;
    border: 2PX;
    border-radius: 3PX;
}